<div
	class="not-prose relative bg-slate-50 rounded-xl overflow-hidden dark:bg-slate-800/25">
	<div
		style="background-position: 10px 10px"
		class="absolute inset-0 bg-grid-slate-100 [mask-image:linear-gradient(0deg,#fff,rgba(255,255,255,0.6))] dark:bg-grid-slate-700/25 dark:[mask-image:linear-gradient(0deg,rgba(255,255,255,0.1),rgba(255,255,255,0.5))]"></div>
	<div class="relative rounded-xl overflow-auto">
		<div class="grid grid-cols-1 sm:grid-cols-2">
			<div class="p-8 pt-7">
				<p class="mb-2 text-sm font-medium text-slate-500">Light mode</p>
				<div
					class="bg-white rounded-lg px-6 py-8 ring-1 ring-slate-900/5 shadow-xl">
					<div>
						<span
							class="inline-flex items-center justify-center p-2 bg-indigo-500 rounded-md shadow-lg">
							<svg
								class="h-6 w-6 text-white"
								xmlns="http://www.w3.org/2000/svg"
								fill="none"
								viewBox="0 0 24 24"
								stroke="currentColor"
								aria-hidden="true">
								<path
									stroke-linecap="round"
									stroke-linejoin="round"
									stroke-width="2"
									d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z"></path>
							</svg>
						</span>
					</div>
					<h3 class="mt-5 text-base font-medium text-slate-900 tracking-tight">
						Writes Upside-Down
					</h3>
					<p class="mt-2 text-sm text-slate-500">
						The Zero Gravity Pen can be used to write in any orientation, including
						upside-down. It even works in outer space.
					</p>
				</div>
			</div>
			<div class="bg-slate-900 p-8 pt-7">
				<p class="mb-2 text-sm font-medium text-slate-400">Dark mode</p>
				<div
					class="bg-slate-800 rounded-lg px-6 py-8 ring-1 ring-slate-900/5 shadow-xl">
					<div>
						<span
							class="inline-flex items-center justify-center p-2 bg-indigo-500 rounded-md shadow-lg">
							<svg
								class="h-6 w-6 text-white"
								xmlns="http://www.w3.org/2000/svg"
								fill="none"
								viewBox="0 0 24 24"
								stroke="currentColor"
								aria-hidden="true">
								<path
									stroke-linecap="round"
									stroke-linejoin="round"
									stroke-width="2"
									d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z"></path>
							</svg>
						</span>
					</div>
					<h3 class="mt-5 text-base font-medium text-white tracking-tight">
						Writes Upside-Down
					</h3>
					<p class="mt-2 text-sm text-slate-400">
						The Zero Gravity Pen can be used to write in any orientation, including
						upside-down. It even works in outer space.
					</p>
				</div>
			</div>
		</div>
	</div>
	<div
		class="absolute inset-0 pointer-events-none border border-black/5 rounded-xl dark:border-white/5"></div>
</div>
