@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		@apply bg-slate-50 text-slate-900;
	}
}

@layer utilities {
}

@layer components {
	.key {
		@apply border rounded py-3 font-semibold transition-all duration-200 ease-in-out
		hover:scale-105
	}
	.key-free {
		@apply bg-green-500 text-white border-white 
	}

	.key-occupied {
		@apply bg-red-700 border-black 
	}
}

@keyframes zoom-in {
	0% {
		transform: scale(0.8, 0.8);
		opacity: 0.5;
	}
	100% {
		transform: scale(1, 1);
		opacity: 1;
	}
}

body {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.test {
	animation: zoom-in 0.1s ease;
}
