@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	* {
		@apply m-0 p-0 box-border;
	}

	html {
		@apply h-full;
	}

	body {
		@apply bg-slate-50 text-gray-900 h-full font-[Roboto] m-0 p-0;
	}

	::-webkit-scrollbar {
		@apply h-2 w-2;
	}

	::-webkit-scrollbar-thumb {
		@apply rounded-md bg-slate-300;
	}

	::-webkit-scrollbar-thumb:hover {
		@apply bg-slate-400;
	}
}

@layer utilities {
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	/* Hide scrollbar for IE, Edge and Firefox */
	.no-scrollbar {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}

	.auto-fit-grid {
		grid-template-columns: repeat(auto-fit, minmax(5rem, 11rem));
	}
}

@layer components {
	.key {
		@apply border rounded py-3 font-semibold transition-all duration-200 ease-in-out
		hover:scale-105;
	}
	.key-free {
		@apply bg-green-500 text-white border-white;
	}

	.key-occupied {
		@apply bg-red-700 border-black;
	}
}
